<template>
  <div class="right-editor-main-container">
    <b-card no-body>
      <b-tabs card v-model="tabIndex">
        <b-tab :title="$t('tab1')">
          <b-container fluid class="p-0 m-0">
            <SpritesEditor
              ref="spritesEditor"
              @focusOnSprite="tabIndex = 1"
            ></SpritesEditor>
          </b-container>
        </b-tab>
        <b-tab :title="$t('tab2')">
          <SingleSprite
            v-if="selectedSprite"
            :sprite="selectedSprite"
            :stageId="selectedStageId"
            @setDeleteSprite="$refs.spritesEditor.spriteToDelete = $event"
          ></SingleSprite>
        </b-tab>
      </b-tabs>
    </b-card>
    <NoEditOverlay v-if="!selectedStageId"></NoEditOverlay>
    <b-modal id="deleteSpriteConfirm" size="sm"
      @ok="$refs.spritesEditor.deleteSprite()"
    >
      <div slot="modal-header" class="d-none"></div>
      Želite li obrisati sprite objekt?
    </b-modal>
  </div>
</template>

<script>
import SpritesEditor from './SpritesEditor.vue'
import SingleSprite from './SingleSprite.vue'
import NoEditOverlay from '../NoEditOverlay.vue'
import { mapGetters } from 'vuex'
export default {
  data () {
    return {
      tabIndex: 0
    }
  },
  methods: {
    setInnerEditorHeight () {
      let $innerEditor = this.$el.querySelector('[role="tabpanel"]')
      let height = document.querySelector('.stages-selector').offsetHeight + 50 + 'px'
      $innerEditor.style.height = height
    }
  },
  components: { SpritesEditor, NoEditOverlay, SingleSprite },
  updated () {
    this.setInnerEditorHeight()
  },
  computed: {
    ...mapGetters(['selectedStageId', 'sprites', 'selectedSpriteId']),
    selectedSprite () {
      if (this.selectedSpriteId) {
        return this.sprites.find(item => item.spriteId === this.selectedSpriteId)
      }

      return null
    }
  }
}
</script>

<style lang="scss">
  .right-editor-main-container {
    position: relative;
    min-width: 320px;
    max-width: 320px;
    > .card {
      height: 100%;
      [role="tabpanel"] {
        overflow-y: auto;
      }
    }
    &:hover {
      .no-edit-overlay {
        display: flex;
      }
    }
  }
</style>
