<template>
  <b-card :title="sprite.name"
    :img-src="sprite.image"
    :img-alt="sprite.name"
    img-top
    tag="article"
    style="max-width: 20rem;"
    class="single-sprite mb-2">
    <b-button-group class="w-100" size="sm">
      <b-button variant="default" @click="changeOrder(-1)" :disabled="sprite.order < 2">-</b-button>
      <b-button variant="primary"
        class="w-100"
        disabled
        v-text="'Poredak: ' + sprite.order"
      ></b-button>
      <b-button variant="default" @click="changeOrder(1)" :disabled="sprite.order >= maxOrderIndex">+</b-button>
    </b-button-group>
    <b-button variant="danger" block
      size="sm"
      v-b-modal.deleteSpriteConfirm
      @click="$emit('setDeleteSprite', sprite)"
    >Izbriši</b-button>
    <spinner v-show="loading"></spinner>
  </b-card>
</template>

<script>
export default {
  data () {
    return {
      loading: false
    }
  },
  props: ['sprite', 'stageId'],
  computed: {
    maxOrderIndex () {
      return this.$store.state.spritesDroppedInStage.length
    }
  },
  methods: {
    changeOrder (type) {
      this.loading = true
      let order = type > 0 ? (this.sprite.order + 1) : (this.sprite.order - 1)
      this.$store.dispatch('updateSpriteOrder', { order, spriteId: this.sprite.spriteId, stageId: this.stageId })
        .then(() => {
          this.$root.$emit('changeSpriteIndex', { index: order, spriteId: this.sprite.spriteId })
          this.loading = false
        })
    }
  }
}
</script>

<style lang="scss">
  .single-sprite {
    img {
      width: 85px;
      margin: 0 auto;
    }
  }
</style>
