<template>
<div>
  <b-input-group class="mb-2">
    <b-form-file ref="fileinput"
      v-model="files"
      placeholder="Spusti slike ovdje"
      multiple
      @input="onFileChange"
      :disabled="!selectedStageId"
    ></b-form-file>
  </b-input-group>
  <div class="w-100 d-flex uploaded-sprites flex-wrap"
    @mouseout="$root.$emit('bv::hide::tooltip')"
  >
    <div class="one-sprite position-relative"
      v-for="(sprite, n) in sprites" :key="n"
    >
      <b-img
        :id="`${sprite.spriteId}`"
        :src="sprite.image"
        :class="isSpriteInStage(sprite.spriteId) ? 'active add-pointer' : 'drag-cursor'"
        v-b-tooltip.hover
        :title="isSpriteInStage(sprite.spriteId) ? `'${sprite.name}' je već u sceni` : sprite.name"
        @dragstart="onDragStart"
        :draggable="!isSpriteInStage(sprite.spriteId)"
        @click="focusOnSprite(sprite)"
      />
      <div class="text-danger delete-btn add-pointer"
        v-b-modal.deleteSpriteConfirm
        @click="spriteToDelete = sprite"
      >
        <icon name="trash" scale="1.5"></icon>
      </div>
      <div class="text-info hint-btn add-pointer"
        v-if="isSpriteInStage(sprite.spriteId)"
        @click="$root.$emit('showPositonHint', sprite)"
      >
        <icon name="eye" scale="1.5"></icon>
      </div>
    </div>
  </div>
</div>
</template>
<script>
import firebase from 'firebase'
import { mapGetters } from 'vuex'
export default {
  data () {
    return {
      files: [],
      generated: [],
      allowUpload: false,
      spriteToDelete: null
    }
  },
  props: ['images'],
  methods: {
    onDragStart ({ target }) {
      event.dataTransfer.setData('sprite', target.src)
      event.dataTransfer.setData('spriteId', target.id)
    },
    createImage (file) {
      var reader = new FileReader()
      reader.onload = (e) => {
        this.generated.push(e.target.result)
        if (this.files.length > 0 && this.generated.length === this.files.length) {
          this.allowUpload = true
          this.upload()
        }
      }
      reader.readAsDataURL(file)
    },
    clearFileInput: function (item) {
      this.$refs.fileinput.reset()
    },
    onFileChange (images) {
      this.generated = []
      this.allowUpload = false
      images.forEach(image => {
        this.createImage(image)
      })
    },
    upload () {
      this.files.forEach(image => {
        let imagePath = null
        firebase.storage().ref(`sprites/${this.selectedStageId}/${image.name}`).put(image)
          .then(data => {
            imagePath = data.ref.fullPath
            return data.ref.getDownloadURL()
          })
          .then(data => {
            this.$store.dispatch('addSprite', {
              image: data,
              stageId: this.selectedStageId,
              position: null,
              name: this.getSpriteName(image.name),
              path: imagePath
            })
          })
      })
      this.clearFileInput()
    },
    isSpriteInStage (id) {
      return this.spritesDroppedInStage.includes(id)
    },
    getSpriteName (name) {
      return name
        .replace('_', ' ')
        .replace('-', ' ')
        .replace('.png', '')
    },
    deleteSprite () {
      if (this.spriteToDelete) {
        this.$store.dispatch('deleteSprite', this.spriteToDelete)
        this.$root.$emit('removeSpriteFromCanvas', this.spriteToDelete.spriteId)
      }
    },
    focusOnSprite (sprite) {
      if (this.isSpriteInStage(sprite.spriteId)) {
        this.$store.commit('setSeletedSpriteId', sprite.spriteId)
        this.$emit('focusOnSprite')
      }
    }
  },
  computed: {
    ...mapGetters(['sprites', 'selectedStageId', 'spritesDroppedInStage'])
  }
}
</script>

<style lang="scss">
  .uploaded-sprites {
    background-color: white;
    img {
      width: 85px;
      height: 85px;
      object-fit: scale-down;
      &:hover {
        border: 1px solid #17a2b8 !important;
        transform: rotate(-1deg);
      }
      &.active {
        border: 1px solid #17a2b8 !important;
      }
    }
    .one-sprite:hover {
      .delete-btn,
      .hint-btn,
      .move-up-btn {
        display: block !important;
      }
    }
    .hint-btn,
    .delete-btn {
      display: none;
      position: absolute;
    }
    .delete-btn {
      top: 2px;
      left: 3px;
    }
    .hint-btn {
      bottom: 2px;
      right: 3px;
    }
  }
  .custom-file-label {
      overflow: hidden;
  }
  .drag-cursor {
    cursor: -webkit-grab;
  }
  #deleteSpriteConfirm {
    header {
      display: none;
    }
  }
</style>
