<template>
    <div class="left-editor-main-container">
      <b-card>
        <h6 slot="header" class="mb-0">Stages
          <b-button-group class="float-right">
            <b-button size="sm" variant="info"
              v-b-modal.modalAdd
            >Dodaj</b-button>
          </b-button-group>
        </h6>
        <b-form-select v-model="selected" class="mb-3" size="sm">
          <template slot="first">
            <option :value="null" disabled>Odaberi stazu</option>
          </template>
          <option v-for="stage in stages" :key="stage.stageId"
            v-text="stage.name"
            :value="stage.stageId"
          ></option>
        </b-form-select>
        <div class="stages-selector">
          <div v-for="stage in stages" :key="stage.stageId">
              <b-button-group size="sm" class="w-100">
                <b-button class="stage-name"
                  :variant="selected === stage.stageId ? 'primary' : 'default'"
                  block disabled
                  v-text="stage.name"
                ></b-button>
                <b-button variant="danger"
                  @click="stageForDelete = stage.stageId"
                  v-b-modal.deleteStageConfirm
                >
                  <div class="d-flex w-100">
                    <icon name="trash"></icon>
                  </div>
                </b-button>
                <b-button variant="info"
                  v-b-tooltip.hover="`Play stage`"
                >
                  <div class="d-flex w-100"
                    @click="playStage(stage.stageId)"
                  >
                    <icon name="play"></icon>
                  </div>
                </b-button>
              </b-button-group>
            <b-img class="mb-2 stage-image add-pointer w-100" fluid
              :class="{ active: isSelectedStage(stage.stageId) }"
              :src="stage.thumbnail"
              @click="selected = stage.stageId"
            />
          </div>
      </div>
      </b-card>
      <b-modal id="modalAdd" ref="modalAdd" title="Dodaj novu stazu"
        @ok.prevent="onOK"
        @hidden="clearForm"
      >
         <b-form @submit.prevent="saveStage">
          <b-form-group label="Ime staze:">
            <b-form-input
              type="text"
              v-model="addForm.name"
              required
            >
            </b-form-input>
          </b-form-group>
          <b-form-group
            label="Pozadina"
          >
            <b-form-file
              accept=".jpg, .png"
              ref="fileinput"
              required
              v-model="addForm.background"
            ></b-form-file>
          </b-form-group>
          <b-form-group
            label="Pozadinska glazba"
          >
            <b-form-file
              accept=".mp3, .wav"
              ref="fileinputMusic"
              required
              v-model="addForm.sound"
            ></b-form-file>
          </b-form-group>
          <b-button class="d-none" ref="submit" type="submit" variant="primary">Submit</b-button>
        </b-form>
      </b-modal>
      <b-modal id="deleteStageConfirm" size="sm"
        @ok="deleteStage"
      >
        <div slot="modal-header" class="d-none"></div>
        Želite li izbrisati stazu? Ovo će obrisati i sve sprite objekte ove staze!
      </b-modal>
    </div>
</template>

<script>
import firebase from 'firebase'
import { mapGetters } from 'vuex'
import downscale from 'downscale'
export default {
  data () {
    return {
      selected: null,
      disableSubmit: false,
      addForm: {
        name: '',
        background: null,
        sound: null
      },
      stageForDelete: null
    }
  },
  beforeMount () {
    if (this.$store.state.sprites.length) {
      this.selected = this.$store.state.sprites[0].stageId
    }
  },
  methods: {
    onOK () {
      this.$refs.submit.click()
    },
    saveStage () {
      if (this.disableSubmit) {
        return
      }
      let uploadedBackground = null
      let uploadedThumbnail = null
      this.$store.commit('loadingOn')
      this.disableSubmit = true
      downscale(this.addForm.background, 960, 540, { returnBlob: 1 })
        .then(downscaledBackground => {
          firebase.storage().ref(`backgrounds/${this.addForm.name}`).put(downscaledBackground)
            .then(data => data.ref.getDownloadURL())
            .then(background => {
              uploadedBackground = background
              return downscale(this.addForm.background, 190, 106, { returnBlob: 1 })
            })
            .then(downscaled => {
              return firebase.storage().ref(`backgrounds/thumbnail/${this.addForm.name}`).put(downscaled)
            })
            .then(data => data.ref.getDownloadURL())
            .then(thumbnail => {
              uploadedThumbnail = thumbnail
              return firebase.storage().ref(`sounds/${this.addForm.name}.mp3`).put(this.addForm.sound)
            })
            .then(data => data.ref.getDownloadURL())
            .then(sound => {
              this.$refs.modalAdd.hide()
              this.$store.dispatch('addStage', {
                background: uploadedBackground,
                thumbnail: uploadedThumbnail,
                name: this.addForm.name,
                sound
              })
              this.$store.commit('loadingOff')
            })
        })
    },
    clearForm: function (item) {
      if (this.disableSubmit) {
        this.addForm.name = ''
        this.$refs.fileinput.reset()
        this.disableSubmit = false
      }
    },
    isSelectedStage (id) {
      return id === this.selectedStageId
    },
    changeActiveStage (stageId) {
      let commit = this.$store.commit
      commit('clearSpritesInStage')
      commit('setActiveStage', stageId)
      let stage = this.stages.find(item => item.stageId === this.selectedStageId)
      commit('setPageTitle', stage ? stage.name : '')
    },
    playStage (stageId) {
      this.$router.push(`player/${stageId}`)
    },
    deleteStage () {
      if (this.stageForDelete) {
        console.log('TODO: delete stage', this.stageForDelete)
      }
    }
  },
  watch: {
    selected (stageId) {
      if (stageId) {
        this.changeActiveStage(stageId)
      }
    }
  },
  computed: {
    ...mapGetters(['stages', 'selectedStageId'])
  }
}
</script>

<style lang="scss">
  #deleteStageConfirm {
    header {
      display: none;
    }
  }
  .left-editor-main-container {
    min-width: 240px;
    max-width: 240px;
    & > .card {
      height: 100%;
      .card-body {
        overflow-y: hidden;
        height: 100%;
        .stages-selector {
          overflow-x: hidden;
          overflow-y: auto;
          height: 95%;
        }
      }
    }
    .stage-name {
      overflow: hidden;
      text-overflow: ellipsis;
      &:not(.btn-primary) {
        color: black;
      }
      opacity: 1;
    }
  }
</style>
