<template>
  <div class="w-100 py-4 d-flex justify-content-between flex-fill">
    <LeftEditor></LeftEditor>
    <CenterEditor></CenterEditor>
    <RightEditor></RightEditor>
  </div>
</template>

<script>
import LeftEditor from './left-editor/LeftEditor.vue'
import RightEditor from './right-editor/RightEditor.vue'
import CenterEditor from './center-editor/CenterEditor.vue'
export default {
  components: { LeftEditor, RightEditor, CenterEditor }
}
</script>
