<template>
  <div class="no-edit-overlay">
    <div class="text-danger">
      <icon name="ban" scale="1.5"></icon>
    </div>
  </div>
</template>
<style lang="scss">
  .no-edit-overlay {
    left: 0;
    position: absolute !important;
    width: 100%;
    height: 100%;
    top: 0;
    background: #d3d3d37a;
    z-index: 2000;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    display: none;
  }
</style>
