<template>
  <div class="w-100 py-4 d-flex justify-content-center">
    <div ref="canvas"></div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import Canvas from '../utils/canvas'
import { Howl } from 'howler'
export default {
  data () {
    return {
      stageId: null,
      app: null,
      stage: null,
      backgroundSound: null
    }
  },
  mounted () {
    let stageId = this.$route.params.stageId
    if (this.stagesById[stageId]) {
      this.stage = this.stagesById[stageId]
      this.backgroundSound = new Howl({
        src: [this.stage.sound || this.fallbackMusic],
        autoplay: true,
        loop: true
      })
      this.$store.commit('setActiveStage', stageId)
      this.$store.commit('setStageSprites', this.stage.sprites)
      this.setStage()
    }
  },
  beforeDestroy () {
    this.backgroundSound.stop()
  },
  methods: {
    setStage () {
      this.app = new Canvas(this.$refs.canvas, 960, 540)
      this.app.setBackground(this.stagesById[this.$route.params.stageId].background)
      this.app.addSprites(this.sprites)
    }
  },
  computed: {
    ...mapGetters(['stages', 'stagesById', 'sprites', 'fallbackMusic'])
  },
  watch: {
    '$route.params.stageId' (stageId) {
      if (this.stagesById[stageId]) {
        this.$store.commit('clearSpritesInStage')
        this.$store.commit('setActiveStage', stageId)
        this.$store.commit('setStageSprites', this.stages[stageId].sprites)
      }
    }
  }
}
</script>
