<template>
  <div class="overlay-spinner">
    <div class="text-info">
      <icon name="spinner" scale="2" pulse></icon>
    </div>
  </div>
</template>
<style scoped>
  .overlay-spinner {
    left: 0;
    position: absolute !important;
    width: 100%;
    height: 100%;
    top: 0;
    background: #d3d3d37a;
    z-index: 2000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
</style>
