<template>
  <div id="app" class="position-relative d-flex height-97vh flex-column">
    <h4 class="p-4 text-info w-100 text-center">{{ pageTitle }}</h4>
    <router-view></router-view>
    <Spinner v-if="loading"></Spinner>
  </div>
</template>

<script>
export default {
  name: 'App',
  computed: {
    pageTitle () {
      return `HOG Engine${this.$store.state.pageTitle ? (' - ' + this.$store.state.pageTitle) : ''}`
    },
    loading () {
      return this.$store.getters.loading
    }
  }
}
</script>

<style lang="scss">
  #app {
    min-width: 1500px;
  }
  .height-97vh {
    height: 97vh;
  }
  .add-pointer {
    cursor: pointer;
  }
</style>
