<template>
  <div class="d-flex justify-content-center position-relative"
    @drop="onDrop"
    @dragover.prevent
  >
    <div ref="canvas"
      @mousemove="onCanvasHover"
    ></div>
    <div class="drag-magnifier border border-info rounded shadow-sm"
      :class="{ 'to-right' : magnifierAppToRight }"
      ref="canvasMagnifier"
      v-show="showMagnifier"
    ></div>
  </div>
</template>

<script>
import * as PIXI from 'pixi.js'
import { mapGetters } from 'vuex'
export default {
  data () {
    return {
      pixiApp: {},
      magnifierApp: {},
      sprites: [],
      background: '',
      showMagnifier: false,
      magnifierAppToRight: false
    }
  },
  props: {
    width: {
      default: 960
    },
    height: {
      default: 540
    }
  },
  mounted () {
    let { width, height } = this.$props
    this.pixiApp = new PIXI.Application({ width, height })
    this.$refs.canvas.appendChild(this.pixiApp.view)
    this.setBackground(this.background)
    this.magnifierApp = new PIXI.Application({ width: width * 2, height: height * 2 })
    this.$refs.canvasMagnifier.appendChild(this.magnifierApp.view)
    this.$root.$on('removeSpriteFromCanvas', this.removeSpriteFromCanvas)
    this.$root.$on('showPositonHint', this.showPositionHint)
    this.$root.$on('changeSpriteIndex', this.changeSpriteIndex)
  },
  methods: {
    setBackground (background) {
      if (background) {
        this.pixiApp.stage.removeChildren()
        this.magnifierApp.stage.removeChildren()
        background = PIXI.Sprite.fromImage(background)
        background.width = this.pixiApp.screen.width
        background.height = this.pixiApp.screen.height
        this.pixiApp.stage.addChild(background)
        this.pixiApp.stage.setChildIndex(background, 0)
        background = this.copySprite(background)
        background.width = this.magnifierApp.screen.width
        background.height = this.magnifierApp.screen.height
        this.magnifierApp.stage.addChild(background)
        if (this.stageSprites.length) {
          this.addSprites(this.stageSprites)
        } else {
          this.$store.commit('loadingOff')
        }
      }
    },
    addSprites (sprites) {
      let loader = PIXI.loader
      let orderedSprites = sprites.sort((a, b) => a.order - b.order)
      let spriteImages = orderedSprites.map(sprite => sprite.image)
      spriteImages = spriteImages.filter(sprite => !loader.resources[sprite])
      loader.add(spriteImages)
        .load(() => {
          for (const key in loader.resources) {
            let sprite = new PIXI.Sprite(loader.resources[key].texture)
            let currentSprite = sprites.find(item => item.image === key)
            if (currentSprite && currentSprite.position) {
              let spriteId = currentSprite.spriteId
              let order = currentSprite.order
              let image = currentSprite.image
              let { x, y } = currentSprite.position
              sprite.$spriteId = spriteId
              sprite.$name = currentSprite.name
              sprite.x = x
              sprite.y = y
              sprite.width = sprite.width / 2
              sprite.height = sprite.height / 2
              this.pixiApp.stage.addChild(sprite)
              this.sprites.push({ image, id: spriteId, order })
              this.$store.commit('addSpriteToStage', spriteId)
              this.addDragAndDropEvents(sprite, spriteId)
            }
          }
          this.$store.commit('loadingOff')
        })
    },
    removeSpriteFromCanvas (spriteId) {
      let sprite = this.pixiApp.stage.children.find(item => item.$spriteId === spriteId)
      if (sprite) {
        this.pixiApp.stage.removeChild(sprite)
      }
    },
    addDragAndDropEvents (target, spriteId) {
      let drag = false
      let position = {}
      let stageId = this.selectedStage.stageId
      target.interactive = true
      target.on('mousedown', e => {
        drag = target
      })
      target.on('mouseup', e => {
        drag = false
        this.showMagnifier = false
        this.$emit('spritePositionChanged', { position, spriteId, stageId })
      })
      target.on('mousemove', e => {
        if (drag) {
          drag.position.x += e.data.originalEvent.movementX
          drag.position.y += e.data.originalEvent.movementY
          position = { x: drag.position.x, y: drag.position.y }
          this.showMagnifier = true
          this.magnifyApp()
        }
      })
    },
    onDrop (event) {
      let spriteId = event.dataTransfer.getData('spriteId')
      let image = event.dataTransfer.getData('sprite')
      let position = { x: event.offsetX, y: event.offsetY }
      let stageId = this.selectedStage.stageId
      this.addSprites([{ image, spriteId, position }])
      this.$emit('spritePositionChanged', { position, spriteId, stageId })
      this.$store.dispatch('updateSpriteOrder', { order: 1, spriteId, stageId })
        .then(() => {
          this.changeSpriteIndex({ index: 1, spriteId })
        })
    },
    copySprite (sprite, positionCorrection = 1) {
      let texture = new PIXI.Texture(sprite._texture)
      let newSprite = new PIXI.Sprite(texture)
      newSprite.x = sprite.x * positionCorrection
      newSprite.y = sprite.y * positionCorrection
      return newSprite
    },
    magnifyApp () {
      if (this.magnifierApp.stage.children.length > 1) {
        this.magnifierApp.stage.removeChildren(1)
      }
      this.pixiApp.stage.children.forEach((sprite, index) => {
        if (index > 0) {
          this.magnifierApp.stage.addChild(this.copySprite(sprite, 2))
        }
      })
    },
    onCanvasHover ({ offsetX, offsetY }) {
      this.magnifierAppToRight = false
      if (offsetX < this.width / 2 && offsetY > this.height / 2) {
        this.magnifierAppToRight = true
      }
      this.$refs.canvasMagnifier.scrollLeft = offsetX * 2 - 100
      this.$refs.canvasMagnifier.scrollTop = offsetY * 2 - 100
    },
    clearStage () {
      this.pixiApp.stage.removeChildren()
    },
    getSpriteFromStage (spriteId) {
      return this.pixiApp.stage.children.find(item => item.$spriteId === spriteId)
    },
    getSpriteCentralPoint (sprite) {
      return {
        x: sprite.x + sprite.width / 2,
        y: sprite.y + sprite.height / 2
      }
    },
    showPositionHint (sprite) {
      let stageSprite = this.getSpriteFromStage(sprite.spriteId)
      if (stageSprite) {
        let { x, y } = this.getSpriteCentralPoint(stageSprite)
        let graphics = new PIXI.Graphics()
        graphics.lineStyle(4, 0xdc3545, 1)
        graphics.drawRect(x - 60, y - 60, 120, 120)
        this.pixiApp.stage.addChild(graphics)
        setTimeout(() => {
          this.pixiApp.stage.removeChild(graphics)
        }, 4000)
      }
    },
    changeSpriteIndex ({ index, spriteId }) {
      let sprite = this.getSpriteFromStage(spriteId)
      if (this.pixiApp.stage.children.length <= index) {
        this.pixiApp.stage.setChildIndex(sprite, index)
      }
    }
  },
  computed: {
    ...mapGetters(['selectedStageId', 'spritesDroppedInStage']),
    stageSprites () {
      return this.$store.getters.sprites
    },
    selectedStage () {
      return this.$store.state.stages.find(stage => this.selectedStageId === stage.stageId)
    }
  },
  watch: {
    width () {
      this.pixiApp.renderer.resize(this.width, this.height)
    },
    selectedStageId (val) {
      if (val) {
        this.$store.commit('loadingOn')
        this.$store.commit('setStageSprites', this.selectedStage.sprites)
        if (this.selectedStage) {
          this.background = this.selectedStage.background
          this.setBackground(this.background)
        }
      } else {
        this.$store.commit('removeSprites')
        this.clearStage()
      }
    }
  }
}
</script>

<style lang="scss">
  .drag-magnifier {
    position: absolute;
    width: 200px;
    height: 200px;
    bottom: 25px;
    border-width: 2px;
    &:not(.to-right) {
      left: 25px;
    }
    overflow: hidden;
    &.to-right {
      right: 25px;
    }
  }
</style>
