<template>
    <div>
      <Canvas
        @spritePositionChanged="syncSpritePosition"
      ></Canvas>
    </div>
</template>

<script>
import Canvas from './Canvas.vue'
import debounce from 'lodash/debounce'
export default {
  data () {
    return {
    }
  },
  components: { Canvas },
  methods: {
    syncSpritePosition: debounce(function (payload) {
      this.$store.dispatch('updateSpritePosition', payload)
    }, 750)
  }
}
</script>

<style lang="scss">
  .left-editor-main-container {
    min-width: 240px;
    max-width: 240px;
  }
</style>
